<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="body-head">
      <div *ngFor="let item of arrayData | keyvalue">
        <label> {{item.key | uppercase }} : </label>{{item.value}}
      </div>
  </div>
  <hr>
  <div class="body-container">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Formulario Registro">
        <div class="small-box mat-elevation-z4">
          <app-form-registro (valueChange)="updateHeader($event)"></app-form-registro>
        </div>
      </mat-tab>
      <mat-tab label="Consulta de repositorios">
        <div class="large-box mat-elevation-z4">
          <app-search-api [updateCookies]="arrayData"></app-search-api>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>
</html>

